@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    text-align: center;
    font-weight: 400;
    box-sizing: border-box;
}

/*Barra de navegación*/
nav {
    position: sticky;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
}

nav ul {
    width: 100%;
    padding-right: 30px;
    justify-content: right;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav li a {
    text-decoration: none;
    color: white;
}

.logo {
    margin: 10px;

    &:hover {
        transform: scale(1.05);
        transition: 0.1s;
    }

    cursor: pointer;
}

/*Cabecera de la página*/
header {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: white;
}

header img {
    width: 100%;
    height: auto;
}

#textoBanner {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1 {
    width: 100%;
    font-size: 40px;
    font-weight: 700;
}

header h1 span {
    color: #D01418;
}

header button {
    background-color: #D01418;
    color: white;
    border: none;
    width: 220px;
    height: 61px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        transform: scale(1.05);
        transition: 0.1s;
    }

    cursor: pointer;
}

/*Productos destacados*/

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.game-card {
    width: 250px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
        transform: scale(1.10);
        transition: 0.1s;
    }

    cursor: pointer;
}

.game-price {
    width: 80%;
    text-align: left;
    margin: 20px;
}

.game-img {
    width: 100%;
    padding-top: 35px;
}

.game-card img {
    width: 50%;
    border-radius: 5px;
}

.envio {
    color: #619D00;
    font-size: 0.9em;
}

/*Productos estrella*/

.banner-estrella {
    width: 390px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;

    &:hover {
        box-shadow: 0px 10px 20px #222222;
        transition: 0.3s;
    }

    cursor: pointer;
}

.banner-estrella h2 {
    margin: 30px;
}

#banner1 {
    background-image: url(./images/banners/banner\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#banner2 {
    background-image: url(./images/banners/banner\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Footer*/

footer {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
}

#card-content {
    width: 40%;
    display: flex;
    justify-content: right;
}

#card-redes {
    text-align: center;
    box-sizing: content-box;
    padding-right: 50px;
}

#redes {
    padding: 0 0px 50px 0;

    & :hover {
        transform: scale(1.20);
        transition: 0.1s;
    }

    cursor: pointer;
}

#redes img {
    width: 24px;
}

#footer-logo {
    padding-left: 50px;
}

#card-redes a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

#card-redes h3 {
    padding-top: 20px;
}